# Eclipse / IntelliJ / Maven
/target
/.settings/**
.classpath
.project
*.swp
*~
*.iml
.idea/
*.iws
*.eml
out/

# Leftover test files
ciphertext-portable.ser
ReferenceEncryptedProperties.test.txt
test.out